@media (max-width: 650px) {

    #navbar {
        border-right: none !important;
        border-bottom: 5px solid #344966 !important;
        font-size: 12px;

        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100px !important;

        top: 0;

        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }

    #logo {
        width: 50px !important;
        height: auto;
        align-self: center;
        padding-top: 0px !important;
        padding-left: 10px;
    }

    #title {
        display: none;
    }

    #navbar ul {
        border-bottom: none !important;
        display: flex;
        flex-wrap: wrap;
    }

    #navbar ul a li {
        border: 0.5px solid #344966;
        padding: 5px !important;
    }

    #main-doc {
        margin-left: 0px !important;
        margin-top: 75px !important;
    }

    section {
        scroll-margin-top: 100px;
    }
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #CCDBDC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0D1821;

    min-width: 390px;

    margin: 0px;
    padding: 0px;
}

/*-----------------------------------------------------*/

#navbar {
    background-color: #9AD1D4;
    border-right: 5px solid #344966;

    position: fixed;
    width: 300x;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#logo {
    width: 100px;
    height: auto;
    padding-top: 15px;
    align-self: center;
}

#title {
    text-decoration: none;
    text-align: center;

    margin: 0px;
    padding: 25px 10px;
    padding-top: 10px;
}

#navbar ul {
    border-bottom: 2px solid #344966;
    list-style: none;
    text-align: left;

    margin: 0px;
    padding: 0px;
}

#navbar ul a {
    font-weight: 500;
    text-decoration: none;
}

#navbar ul a li {
    border-top: 2px solid #344966;
    color: #0D1821;

    padding: 20px 0px 20px 10px;
}

#navbar ul a li:hover {
    background-color: #344966;
    color: #ffd040;
}

/*-----------------------------------------------------*/

#main-doc {
    margin-left: 300px;
    padding: 20px;
}

section {
    border-bottom: 2px solid #344966;
    padding: 25px 0px;
}

section h2 {
    margin-top: 25px;
}

header {
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

section ul,
section ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

pre {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

code {
    display: block;
    border-radius: 25px;
    background-color: #344966;
    color: #CCDBDC;
    line-height: 2;

    margin: 10px 0px;
    padding: 15px;
}