html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #CCDBDC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0D1821;

    margin: 0px;
    padding: 0px;
}

#navbar {
    background-color: #9AD1D4;
    border-right: 5px solid #344966;

    padding: 10px;

    position: fixed;
    width: 300x;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#title {
    font-size: 35px;
    text-decoration: none;
}

#navbar ul {
    list-style: none;
}

#main-doc {
    margin-left: 350px;
}

header {
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
}

p {
    line-height: 1.5;
}